.filter-select {
  max-width: 600px;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container .stats {
  width: 100%;
  padding: 0 1rem;
}

.subtitle {
  display: block;
  color: rgb(131, 131, 131);
  margin-bottom: 12px;
}

.table {
  border: 1px solid #eee;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}
.table th {
  font-weight: bold;
  padding: 5px;
  background: #efefef;
  border: 1px solid #dddddd;
}
.table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}
.table tbody tr:nth-child(odd) {
  background: #fff;
}
.table tbody tr:nth-child(even) {
  background: #f7f7f7;
}
